*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav{
    position: fixed;
}
#div{
    height: 12vh;
    width: 108%;
    font-family: jos;
    display: flex;
}
#expo{
    width: 50%;
}
#move{
    padding-left: 500px;
}
#venue{
    list-style-type: none;
    gap: 40px;
}
#venue a{
    text-decoration: none; 
    color: blue;
}
#get{
    width: 90px;
    transform: translateY(-8px);
}
#tech{
    padding: 50px;
    width: 100%;
}
#edit{
    padding: 50px;
    transform: translateY(-90px);
    font-family: jost;
    color: blue;
}
#edit,p{
    font-size: 21px;
}
#buy{
    transform: translateY(-150px);
    padding: 50px;
    padding-left: 500px;
}
#ticket{
    transform: translateX(-400px);
    padding-left: 120px;
    padding-right: 120px;
    background-color: yellow;
}
#become{
    transform: translateX(20px);
    transform: translateY(-28px);
    padding-right: 120px;
    padding-left: 120px;
}